<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Canaima</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>    
  </welcome-file-list>
  <context-param>
    <param-name>servidorAplicacion</param-name>
    <param-value>http://161.196.77.81:8080/canaima/</param-value>
  </context-param>
  <context-param>
    <param-name>manejadorConexion</param-name>
    <param-value>mysql</param-value>
  </context-param>
  <context-param>
    <param-name>nombreConexion</param-name>
    <param-value>MysqlServidorPoolable</param-value>
  </context-param>
  <context-param>
    <param-name>servidorConexion</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>puertoConexion</param-name>
    <param-value>3306</param-value>
  </context-param>
  <context-param>
    <param-name>baseDeDatosConexion</param-name>
    <param-value>canaima</param-value>
  </context-param>
  <context-param>
    <param-name>usuarioConexion</param-name>
    <param-value>canaima</param-value>
  </context-param>
  <context-param>
    <param-name>constraseñaConexion</param-name>
    <param-value>T3MxmFKhtU6WnKnQ</param-value>
  </context-param>
  <context-param>
    <param-name>driverConexion</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>inicialConexion</param-name>
    <param-value>1</param-value>
  </context-param>
  <context-param>
    <param-name>maxConexion</param-name>
    <param-value>10</param-value>
  </context-param>
  
  <context-param>
    <param-name>maxContratosXLote</param-name>
    <param-value>100</param-value>
  </context-param>
  <context-param>
    <param-name>maxLotesXCaja</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>directorioTemporalDesarrollo</param-name>
    <param-value>C:/Dev/apache-tomcat-6.0.28/webapps/canaima/temp/</param-value>
  </context-param>
  <context-param>
    <param-name>directorioTemporal</param-name>
    <param-value>C:/Program Files/Apache Software Foundation/Tomcat 6.0/webapps/canaima/temp/</param-value>
  </context-param>
  <context-param>
    <param-name>directorioGuardado</param-name>
    <param-value>C:/Dev/Canaima/Guardado/</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>  
</web-app>